reads:
  forward:
    class: File
    path: ./R1_001.fastq 
  reverse:
    class: File
    path: ./R2_001.fastq 
  index:
    class: File
    path: ./I1_001.fastq     

sample-mapping:
  class: File  
  path: ./mapping.txt

# min-observations-per-otu: 2
summarize-for-taxonomic-levels: 
    numeric: [ 2,3,4,5,6,7 ]
    labels: [ Domain , Phylum , Class , Order , Family , Genus , Species ]